.card{
    margin-top: 10px;
    min-height:200px;
}

#balance-container, #loan-container, #salary-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#loan-button-container, #work-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-button, #to-bank-button, #pay-loan-button{
    margin:auto;
}


#selected-laptop-features-container, #laptop-information-container{
    margin-top: 5px;
}

#selected-laptop-features{
    list-style-type: none;
}